.chatScreen__text {
  margin-left: 10px;
  background-color: lightgray;
}
.chatScreen__message {
  display: flex;
  align-items: center;
  padding: 20px;
}

.chatScreen__timestamp {
  padding: 20px;
  text-align: center;
  color: gray;
}
